examples/force-app/main/default/flows/Create_Stripe_Invoice_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Stripe_Customer</name>
        <label>Create Stripe Customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>stripeGC__v02_CreateCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Created_Customer_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Customer_Error_Sync_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idempotencyKey</name>
            <value>
                <elementReference>Create_Customer_Idempotency_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreBillingSyncEventProcessing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>performDmlSaveAfterCalls</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Get_Primary_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v02_CreateCustomers</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Stripe_Invoice</name>
        <label>Create Stripe Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>stripeGC__v02_CreateInvoices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Stripe_Invoice_Item</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Invoice_Error_Sync_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idempotencyKey</name>
            <value>
                <elementReference>Create_Invoice_Idempotency_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreBillingSyncEventProcessing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>performDmlSaveAfterCalls</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>varStripeCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v02_CreateInvoices</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Stripe_Invoice_Item</name>
        <label>Create Stripe Invoice Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>stripeGC__v02_CreateInvoiceitems</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finalize_Stripe_Invoice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Invoice_Item_Error_Sync_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idempotencyKey</name>
            <value>
                <elementReference>Create_Invoice_Item_Idempotency_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreBillingSyncEventProcessing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>performDmlSaveAfterCalls</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>varStripeCustomerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>Create_Stripe_Invoice.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Invoice_Amount_Cents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>Invoice_Line_Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v02_CreateInvoiceitems</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Finalize_Stripe_Invoice</name>
        <label>Finalize Stripe Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>stripeGC__v02_PostInvoicesFinalize</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Opportunity_With_Hosted_Invoice_URL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Finalize_Invoice_Error_Sync_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idempotencyKey</name>
            <value>
                <elementReference>Finalize_Invoice_Idempotency_Key</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreBillingSyncEventProcessing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>performDmlSaveAfterCalls</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>Create_Stripe_Invoice.id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v02_PostInvoicesFinalize</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Set_Created_Customer_Id</name>
        <label>Set Created Customer Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStripeCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Stripe_Customer.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stripe_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Existing_Customer_Id</name>
        <label>Set Existing Customer Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varStripeCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.stripeGC__Customer_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stripe_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_Exists</name>
        <label>Check if Account Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Missing_Account_Sync_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Missing</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Opportunity_Amount_Is_Valid</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Opportunity_Amount_Is_Valid</name>
        <label>Check if Opportunity Amount is Valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Missing_Amount_Sync_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Amount Missing</defaultConnectorLabel>
        <rules>
            <name>Amount_Is_Present_and_Positive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Contact_Role</targetReference>
            </connector>
            <label>Amount is Present and Positive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Primary_Contact_Exists</name>
        <label>Check if Primary Contact Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Missing_Primary_Contact_Sync_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Contact Missing</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact_Role.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Primary_Contact</targetReference>
            </connector>
            <label>Primary Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Primary_Contact_Email_Exists</name>
        <label>Check if Primary Contact Email Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Missing_Contact_Email_Sync_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Missing</defaultConnectorLabel>
        <rules>
            <name>Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Stripe_Account</targetReference>
            </connector>
            <label>Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Stripe_Account_Exists</name>
        <label>Check if Stripe Account Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Missing_Stripe_Account_Sync_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stripe Account Missing</defaultConnectorLabel>
        <rules>
            <name>Stripe_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Stripe_Customer_Exists</targetReference>
            </connector>
            <label>Stripe Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Stripe_Customer_Exists</name>
        <label>Check if Stripe Customer Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Stripe_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Customer</defaultConnectorLabel>
        <rules>
            <name>Customer_Exists_on_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.stripeGC__Customer_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Customer_Id</targetReference>
            </connector>
            <label>Customer Exists on Account</label>
        </rules>
    </decisions>
    <formulas>
        <name>Create_Customer_Idempotency_Key</name>
        <dataType>String</dataType>
        <expression>{!$Flow.InterviewGuid} &amp; &quot;-CreateCustomer-&quot; &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Create_Invoice_Idempotency_Key</name>
        <dataType>String</dataType>
        <expression>{!$Flow.InterviewGuid} &amp; &quot;-CreateInvoice-&quot; &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Create_Invoice_Item_Idempotency_Key</name>
        <dataType>String</dataType>
        <expression>{!$Flow.InterviewGuid} &amp; &quot;-CreateInvoiceItem-&quot; &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Finalize_Invoice_Idempotency_Key</name>
        <dataType>String</dataType>
        <expression>{!$Flow.InterviewGuid} &amp; &quot;-FinalizeInvoice-&quot; &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>Invoice_Amount_Cents</name>
        <dataType>Number</dataType>
        <expression>ROUND({!$Record.Amount} * 100, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Invoice_Line_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Opportunity &quot; &amp; {!$Record.Name} &amp; &quot; proposal invoice&quot;</expression>
    </formulas>
    <formulas>
        <name>Opportunity_Record_Details</name>
        <dataType>String</dataType>
        <expression>&quot;Opportunity &quot; &amp; {!$Record.Name} &amp; &quot; (&quot; &amp; {!$Record.Id} &amp; &quot;)&quot;</expression>
    </formulas>
    <recordCreates>
        <name>Create_Customer_Error_Sync_Log</name>
        <label>Create Customer Error Sync Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Failed Creating Stripe Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <elementReference>Opportunity_Record_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Finalize_Invoice_Error_Sync_Log</name>
        <label>Create Finalize Invoice Error Sync Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Failed Finalizing Stripe Invoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <elementReference>Opportunity_Record_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Error_Sync_Log</name>
        <label>Create Invoice Error Sync Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Failed Creating Stripe Invoice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <elementReference>Opportunity_Record_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice_Item_Error_Sync_Log</name>
        <label>Create Invoice Item Error Sync Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Failed Creating Stripe Invoice Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <elementReference>Opportunity_Record_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Missing_Account_Sync_Log</name>
        <label>Create Missing Account Sync Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Skipped Stripe Invoice Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <elementReference>Opportunity_Record_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <stringValue>Opportunity has no Account to use for Stripe Customer resolution.</stringValue>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Missing_Amount_Sync_Log</name>
        <label>Create Missing Amount Sync Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Skipped Stripe Invoice Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <elementReference>Opportunity_Record_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <stringValue>Opportunity Amount must be greater than zero before creating a Stripe Invoice.</stringValue>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Missing_Contact_Email_Sync_Log</name>
        <label>Create Missing Contact Email Sync Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Skipped Stripe Invoice Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <elementReference>Opportunity_Record_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <stringValue>Primary Opportunity Contact is missing an email address.</stringValue>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Missing_Primary_Contact_Sync_Log</name>
        <label>Create Missing Primary Contact Sync Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Skipped Stripe Invoice Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <elementReference>Opportunity_Record_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <stringValue>No primary Opportunity Contact Role was found for this Opportunity.</stringValue>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Missing_Stripe_Account_Sync_Log</name>
        <label>Create Missing Stripe Account Sync Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Skipped Stripe Invoice Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <elementReference>Opportunity_Record_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <stringValue>Stripe Account named Demo Stripe Account Name was not found. Replace the placeholder before activation.</stringValue>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Primary_Contact_Email_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Primary_Contact_Role.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact_Role</name>
        <label>Get Primary Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Primary_Contact_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Stripe_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo Stripe Account Name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_With_Hosted_Invoice_URL</name>
        <label>Update Opportunity with Hosted Invoice URL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stripe_Invoice_Link__c</field>
            <value>
                <elementReference>Finalize_Stripe_Invoice.hostedInvoiceUrl</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Creates a Stripe Invoice and hosted invoice URL when an Opportunity moves to Proposal/Price Quote.</description>
    <environments>Default</environments>
    <interviewLabel>Create Stripe Invoice from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Stripe Invoice from Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal/Price Quote</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varStripeCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
