examples/force-app/main/default/flows/Create_Stripe_Customer_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Stripe_Customer</name>
        <label>Create Stripe Customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>stripeGC__v02_CreateCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Populate_Customer_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Sync_Log_API_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>Get_Account.Description</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Get_Account.Website</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idempotencyKey</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}-Create-Customer-{!Get_Account.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ignoreBillingSyncEventProcessing</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>performDmlSaveAfterCalls</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>Get_Account.Phone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v02_CreateCustomers</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Populate_Customer_Record</name>
        <label>Populate Customer Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Stripe_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Stripe_Customer.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Stripe_Customer.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Stripe_Customer.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Stripe_Customer.phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Livemode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Stripe_Customer.livemode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Stripe_Customer.balance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Delinquent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Stripe_Customer.delinquent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Stripe_Customer.r_currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Stripe_Account_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stripe_Account.stripeGC__Stripe_Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeCustomer.stripeGC__Stripe_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Customer_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_Exists</name>
        <label>Check if Account Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Error_Sync_Log_Account_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Stripe_Account</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Stripe_Account_Exists</name>
        <label>Check if Stripe Account Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Error_Sync_Log_Stripe_Account_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Stripe_Account_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Stripe_Customer</targetReference>
            </connector>
            <label>Stripe Account Exists</label>
        </rules>
    </decisions>
    <description>When an Opportunity is set to Closed Won, create a Stripe Customer from the related Account. Maps Account name, phone, website (as email for testing), and description to the Stripe Customer. Creates a stripeGC__Customer__c record and links it to the Account.</description>
    <environments>Default</environments>
    <interviewLabel>Create Stripe Customer from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create Stripe Customer from Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Record</name>
        <label>Create Customer Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <inputReference>StripeCustomer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Sync_Log_Account_Not_Found</name>
        <label>Create Error Sync Log - Account Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Failed Creating Stripe Customer from Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <stringValue>Opportunity {!$Record.Name} ({!$Record.Id})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <stringValue>Unable to locate Account with Id {!$Record.AccountId}.</stringValue>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Sync_Log_Stripe_Account_Not_Found</name>
        <label>Create Error Sync Log - Stripe Account Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Failed Creating Stripe Customer from Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <stringValue>Opportunity {!$Record.Name} ({!$Record.Id})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <stringValue>Unable to locate Stripe Account. Please ensure a Stripe Account is configured.</stringValue>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Sync_Log_API_Failure</name>
        <label>Create Error Sync Log - API Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>stripeGC__Action_Taken__c</field>
            <value>
                <stringValue>Failed Creating Stripe Customer from Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Error_Details__c</field>
            <value>
                <stringValue>Opportunity {!$Record.Name} ({!$Record.Id}), Account {!Get_Account.Name} ({!Get_Account.Id})</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>stripeGC__Sync_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Stripe_Account_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demo Stripe Account Name</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>stripeGC__Customer_Id__c</field>
            <value>
                <elementReference>StripeCustomer.stripeGC__Stripe_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stripeGC__Customer__c</field>
            <value>
                <elementReference>StripeCustomer.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>StripeCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>stripeGC__Customer__c</objectType>
    </variables>
</Flow>
